<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fish.behaviordemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fab.FabSnackActivity"
            android:label="fabSnack"></activity>

        <activity
            android:name=".scroll.ScrollActivity"
            android:label="scroll"
            android:theme="@style/AppThemeBlue"></activity>

        <activity
            android:name=".toolbartab.ToolbarTabActivity"
            android:label="toolbar_tab"
            android:theme="@style/AppThemeBlue"></activity>

        <activity
            android:name=".appbar.AppbarActivity"
            android:label="appbar"
            android:theme="@style/AppThemeBlue"></activity>

        <activity
            android:name=".collapsing.CollapsingActivity"
            android:label="collapsing"
            android:theme="@style/AppThemeBlue"></activity>
        <activity
            android:name=".collapsing.CollapsImageActivity"
            android:label="CollapsingImage"></activity>
        <activity
            android:name=".collapsing.CollapsImageActivity2"
            android:label="CollapsImageActivity2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".collapsing.CollapsImageActivity3"
            android:label="CollapsImageActivity3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".anchor.AnchorActivity"
            android:label="AnchorActivity"></activity>
        <activity
            android:name=".zhihu.ZhihuTopicActivity"
            android:label="你好C++"
            android:theme="@style/AppThemeBlue"></activity>
        <activity android:name=".collapsing.CollapsImageActivity4"
            android:label="CollapsingImage4"></activity>
        <activity android:name=".collapsing.CollapsImageActivity4_1"
            android:label="CollapsingImage4_1"></activity>

        <activity
            android:name=".collapsing.CollapsFitSystemActivity"
            android:label="CollapsFitSystemActivity"></activity>

        <activity android:name=".collapsing.CollapsImageOverlapActivity"
            android:label="CollapsImageOverlapActivity"></activity>

        <activity android:name=".collapsing.CollapsImageEnterAlwayCollActivity"
            android:label="CollapsImageEnterAlwayCollActivity"></activity>
    </application>

</manifest>
